<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3" >
        <div class="container" style="position:relative;">
            <a href="#" class="navbar-brand text-uppercase font-weight-bold">EDULU</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/Home/Index" class="nav-link text-uppercase font-weight-bold">Anasayfa <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="~/Video/Index" class="nav-link text-uppercase font-weight-bold">Videolar</a></li>
                    <li class="nav-item"><a href="/Story/Index" class="nav-link text-uppercase font-weight-bold">Hikayeler</a></li>
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="/Story/Index" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hikayeler
                        </a>
                        <ul class="dropdown-menu" style="background: rgba(0, 0, 0, 0); border: rgba(0,0,0,0)" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li class="nav-item"><a class="dropdown-item nav-link text-uppercase font-weight-bold" href="#">Action</a></li>
                            <li class="nav-item"><a class="dropdown-item nav-link text-uppercase font-weight-bold" href="#">Another action</a></li>
                            <li class="nav-item"><a class="dropdown-item nav-link text-uppercase font-weight-bold" href="#">Something else here</a></li>
                        </ul>
                    </li>*@

                    <li class="nav-item"><a href="/Game/GamePage" class="nav-link text-uppercase font-weight-bold">Oyunlar</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Öneriler</a></li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" style="float:right; position:absolute; right:0;">
                <form>
                    <input class="form-control hSearchbar" type="text" placeholder="Search" aria-label="Search">
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/Security/Login" class="nav-link text-uppercase font-weight-bold">Giriş Yap <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Kayıt Ol</a></li>
                    <li class="nav-item" style="position:absolute; right: -150px;"><a href="~/User/Index" class="nav-link text-uppercase font-weight-bold">Onur</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

