
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sdiv"></div>
<div id="scontainer">
    <div id="story-container">
    <div class="title">KÜÇÜK İSTAVRİTİN ÖYKÜSÜ</div>
    <div class="text">
        Küçük istavrit yiyecek bir şey sanıp  hızla atıldı çapariye önce müthiş bir acı duydu dudağında gümbür gümbür oldu yüreği sonra hızla çekildi yukarıya…

        Aslında hep merak etmişti denizlerin üstünü neye benzerdi acep gökyüzü. Bir yanda büyük bir merak bir yanda ölüm korkusu. “Dudağı yarıklar” denir şanslıdır onlar hani

        görüp de gökyüzünü, insanı oltadan son anda kurtulanlar. Ne çare balıkçının parmakları hoyratça kavradı onuküçük istavrit anladı yolun sonu.

        Koca denizlere sığmazdı yüreği. Oysa şimdi yüzerken küçücük yeşil leğende ansızın uzanıvermiş dostlarına değiyordu minik yüzgeci.

        İnsanlar gelip geçtiler önünden bir kedi yalanarak baktı gözünün içine yavaşça karardı dünya başı da dönüyordu. Son bir kez düşündü derin maviyi beyaz mercanı bir de yeşil yosunu.

        İşte tam o anda eğilip aldım onu. Yürüdüm deniz kenarına bir öpücük kondurdum başına iki damla gözyaşından ibaret sade bir törenle saldım denizin sularına.

        Bir an öylece baka-kaldı Sonra sevinçle dibe daldı. Gitti tüm kederimi söküp atarak teşekkürü de ihmal etmemişti. Bir kaç değerli pulunu Elime avuçlarıma bırakarak.

        Balıkçı ve kedi şaşkın baktılar yüzüme. Sorar gibiydiler neden yaptın bunu niye? ” Bir gün dedim bulursam kendimi yeşil leğendeki küçük istavrit kadar çaresiz

        Son ana kadar hep bir umudum olsun diye… “
    </div>
    </div>
</div>

