@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sdiv"></div>
<div id="scontainer">
    <div id="story-container" style="margin-left: 20%;">
        <div class="title">KÜÇÜK İSTAVRİTİN ÖYKÜSÜ</div>
        <div class="text" style="line-height: 2;">
            Küçük istavrit yiyecek bir şey sanıp  hızla atıldı çapariye önce müthiş bir acı duydu dudağında gümbür gümbür oldu yüreği sonra hızla çekildi yukarıya…

            Aslında hep merak etmişti denizlerin üstünü neye benzerdi acep gökyüzü. Bir yanda büyük bir merak bir yanda ölüm korkusu. “Dudağı yarıklar” denir şanslıdır onlar hani

            görüp de gökyüzünü, insanı oltadan son anda kurtulanlar. Ne çare balıkçının parmakları hoyratça kavradı onuküçük istavrit anladı yolun sonu.

            Koca denizlere sığmazdı yüreği. Oysa şimdi yüzerken küçücük yeşil leğende ansızın uzanıvermiş dostlarına değiyordu minik yüzgeci.

            İnsanlar gelip geçtiler önünden bir kedi yalanarak baktı gözünün içine yavaşça karardı dünya başı da dönüyordu. Son bir kez düşündü derin maviyi beyaz mercanı bir de yeşil yosunu.

            İşte tam o anda eğilip aldım onu. Yürüdüm deniz kenarına bir öpücük kondurdum başına iki damla gözyaşından ibaret sade bir törenle saldım denizin sularına.

            Bir an öylece baka-kaldı Sonra sevinçle dibe daldı. Gitti tüm kederimi söküp atarak teşekkürü de ihmal etmemişti. Bir kaç değerli pulunu Elime avuçlarıma bırakarak.

            Balıkçı ve kedi şaşkın baktılar yüzüme. Sorar gibiydiler neden yaptın bunu niye? ” Bir gün dedim bulursam kendimi yeşil leğendeki küçük istavrit kadar çaresiz

            Son ana kadar hep bir umudum olsun diye… “
        </div>
    </div>
</div>
<div id="scontainer">
    <div id="story-container" style="margin-left: 20%;">
        <div class="title">TAHTA ÇANAK HİKAYESİ</div>
        <div class="text" style="line-height: 2;">
            Bilge Dede iyice yaşlanmıştı. Gözleri  görmüyor, kulakları  iyi  işitmiyordu. Yemeğini bile yemekte  zorlanıyordu. Üstüne başına döküyor, sofrayı kirletiyordu. Bu yüzden gelini

            ve oğlu Bilge Dede’ye kızıyorlardı, iyi davranmıyorlardı. Evde onu tek seven, küçük torunu Selim idi. Selim, dedesine acıyor, babasıyla annesinin davranışlarına çok kızıyordu.

            Bir  akşam  yemek  yiyeceklerdi. Dede, ekmeğe uzanayım derken, kolu tabağına takıldı ve tabağını yere düşürdü. Örtüler kirlendi. Tabak kırıldı. Gelini kızdı, bağırdı.

            Bilge Dede, odasına çekildi. Karnı  çok açtı ama yiyecek hali kalmamıştı. Ağlıyordu… Allah’a yalvarmaya başladı. “Allah’ım canımı alda kurtulayım, oğluma ve gelinime daha

            fazla yük olmak  istemiyorum” Ertesi gün Selim’in babası eve elinde tahta çanak ve kaşıklarla geldi. Bilge Dede’yi evin bahçesindeki kulübeye taşıdılar. 
            
            Artık burada kalacak yemeklerini de burada bu tahta çanak ve kaşıklarla yiyecekti. Selim buna çok üzüldü. “Neden böyle yapıyorlardı” ki? Bir gün gelecek, onlar da yaşlanacaklardı. 
            
            Onların da eli ayağı tutmaz olacaktı. Bunu annesine, babasına nasıl anlatmalıydı?  Yağmurlu bir gündü. Selim’in annesi babası evdeydi. İşe gitmemişlerdi. 
            
            Selim, birkaç tahta parçası getirdi. Bir bıçakla onları kesmeye, oymaya başladı. Bir yandan da annesine, babasına bakıyordu. Annesi ve babası merak ettiler. 
            
            Selim bu tahtalarla ne yapıyordu? Annesi Ali’ye sordu:

            -Bu tahtalarla ne yapıyorsun Selim?
            
            -Tahta çanaklar yapıyorum.
            
            -Tahta çanakları ne yapacaksın?
            
            -Sizin için!
            
            -Bizim için mi?
            
            -Evet sizin için.

            İksinin de yüzü kıpkırmızı oldu, söyleyecek tek kelime bulamadılar. Yaptıklarından pişman oldular. Bilge Dede’nin yanına varıp ondan özür dilediler.
            
            Bilge Dede’yi tekrar yanlarına alarak onu bağırlarına bastılar. Ve bir arada mutlu mesut yaşadılar.“
        </div>
    </div>
</div>
