#game-container {
    border: 1px solid #CCC;
    width: 500px;
    height: 350px;
    margin: 20px;
    
}

.kart {
    float: left;
    width: 100px;
    height: 150px;
    border: #CCC solid 1px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 15px;
    background-image: url('../Image/yalanci_hikaye.jpg');
    background-size:cover;
}