#vdiv {
    z-index: -1;
    background-image: url('../Image/photographic-camera-background-vector-20517428.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 500px;
}

    #vdiv img {
        padding: 0;
        max-height: 100%;
        min-width: 100%;
    }

#video-container {
    width: 1200px;
    /*background-color: rgb(238, 235, 246);*/
    padding: 50px;
    margin-top: 10px;
    margin-left: 100px;
}

#vcontainer {
    height: 450px;
    position: relative;
    background-color: rgb(241, 224, 255);
    margin-top: 40px;
}
