
@{
    ViewBag.Title = "GamePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
   <div style="height:200px;"></div>
   <div id="game-container">

       <div class="kart" id="kart1">
           
       </div>
       <div class="kart" id="kart2">
           
       </div>
       <div class="kart" id="kart3">
       </div>
       <div class="kart" id="kart4">
       </div>
       <div class="kart" id="kart5">
       </div>
       <div class="kart" id="kart6">
       </div>
       <div class="kart" id="kart7">
       </div>
       <div class="kart" id="kart8">
       </div>

   </div>
  